body
    background-color: #f0f0f0 
    padding: 20px 0

.container
    margin: 0 auto
    width: 960px


nav
    display: block
    @clearfix()
    float: right

    a
        float: left
        display: block
        padding: 0.5em 1em
        list-style-type: none
        margin-right: 1em
        background-color: #fff


    a:last-child
        margin: 0


footer
    p
        font-size: .8em
        padding: 1em 0
        float: right
        color: #aaa

        a
            color: #aaa
            text-decoration: underline


.intro
    padding: 50px
    background-color: #fff

.data
    padding: 50px
    background-color: #fff