{% load messagegroups %}
<!doctype html>                                                                                                                                       
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Passwortpranger.ch{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/respond.min.js"></script>
    <![endif]-->
    <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    {% endblock %}
</head>

<body class="{% block bodyclass %}{% endblock %}">
    {% render_messages messages %}
    
    <header>
        <div class="container">
            <nav>
                <a href="/">Liste</a>
                <a href="#">Seite Melden</a>
                <a href="{% url 'info' %}">Infos</a>
                <a href="{% url 'legal' %}">Gesetzeslage</a>
            </nav>
        </div>
    </header>

    <div id="main">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="container">
            <p>
            Passwortpranger.ch by <a href="http://twitter.com/dbrgn">@dbrgn</a>, <a href="http://twitter.com/MichiGysel">@MichiGysel</a> und <a href="http://twitter.com/saebersold">@saebersold</a>. Source on <a href="https://github.com/dbrgn/passwortpranger">Github</a>. 
            </p>
        </div>
    </footer>


    {% block scripts %}
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/scripts.js"></script>
    {% endblock scripts %}

</body>
</html>
