{% load messagegroups %}
{% load compress %}
<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Passwortpranger.ch{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/respond.min.js"></script>
    <![endif]-->
    <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Chivo:400,900' rel='stylesheet' type='text/css'>

    {% compress css %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" media="screen">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/style.sass" type="text/x-sass">
        {% endblock %}
    {% endcompress %}
</head>

<body class="{% block bodyclass %}{% endblock %}">
{% render_messages messages %}

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <h1><a href="{% url 'home' %}">Passwortpranger</a></h1>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <nav>
                    <a href="/"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Liste</a>
                    <a href="{% url 'submission' %}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Seite Melden</a>
                    <a href="{% url 'info' %}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Infos</a>
                </nav>
            </div>
    </div>
</header>

<div id="main">
    {% block content %}{% endblock %}
</div>

<footer>
    <div class="container">
        <p>
            Passwortpranger.ch by <a href="http://twitter.com/dbrgn" target="_blank">@dbrgn</a>, <a
                href="http://twitter.com/MichiGysel" target="_blank">@MichiGysel</a>, <a
                href="http://twitter.com/saebersold" target="_blank">@saebersold</a> und <a
                href="https://twitter.com/rliebi" target="_blank">@rliebi</a>. Source on <a
                href="https://github.com/dbrgn/passwortpranger">Github</a>.
        </p>
    </div>
</footer>


{% block scripts %}
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/scripts.js"></script>
{% endblock scripts %}

</body>
</html>
