{% extends 'front/base.html' %}

{% block bodyclass %}home{% endblock %}

{% block content %}
    <div class="container intro">
        <div class="row">
            <div class="span4">
                <img src="{{ STATIC_URL }}img/pillory.png" alt="Pranger">
            </div>
            <div class="span8">
                <h1>Passwortpranger</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, veniam, voluptatem maxime totam repellat earum voluptate enim nihil autem iste eligendi ut perferendis maiores impedit aut. Enim molestias assumenda iste!</p>
            </div>
        </div>
    </div>
    <br>
    <div class="container data">
        <h2>Prangerliste</h2>
        <table class="table">
            <tr>
                <th>Seite</th>
                <th>URL</th>
                <th>Rating</th>
            </tr>
            {% for website in object_list %}
                <tr>
                    <td>{{ website.name }}</td>
                    <td>{{ website.url }}</td>
                    <td>TBD</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
