{% extends 'front/base.html' %}

{% block bodyclass %}home{% endblock %}

{% block content %}
    <div class="container intro">

        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12">
                <h2>Was ist der Passwortpranger?</h2>
                <p>Der Passwortpranger ist eine Webplatform, um Firmen, die unsorgfältig mit Passwörtern umgehen, an den virtuellen Pranger zu stellen.</p>
            </div>
            <div class="col-md-2 col-md-offset-1 col-sm-4 hidden-xs">
                <img src="{{ STATIC_URL }}img/pillory.png" alt="Pranger">
            </div>
        </div>

        <h2>Prangerliste</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Seite</th>
                    <th>URL</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
            {% for site in object_list %}
                <tr>
                    <td><a href="{% url "website" pk=site.pk slug=site.get_canonical_slug %}">{{ site.name }}</a></td>
                    <td><a href="{% url "website" pk=site.pk slug=site.get_canonical_slug %}">{{ site.url }}</a></td>
                    <td><span title="{{ site.total_score_verbose }}">{{ site.total_score }} / 6</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
