{% extends 'front/base.html' %}

{% block bodyclass %}home{% endblock %}

{% block content %}
    <div class="container intro">
        
        <div class="row">
            <div class="col-md-9">
                <h2>Was ist der Passwortpranger?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, veniam, voluptatem maxime totam repellat earum voluptate enim nihil autem iste eligendi ut perferendis maiores impedit aut. Enim molestias assumenda iste!</p>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <img src="{{ STATIC_URL }}img/pillory.png" alt="Pranger">
            </div>            
        </div>

        <h2>Prangerliste</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Seite</th>
                    <th>URL</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
            {% for site in object_list %}
                <tr>
                    <td><a href="{% url "website" pk=site.pk slug=site.get_canonical_slug %}">{{ site.name }}</a></td>
                    <td>{{ site.url|urlize }}</td>
                    <td>TBD</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
