{% extends 'front/base.html' %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block bodyclass %}submission{% endblock %}

{% block title %}{% trans 'Submit Website' %} - Passwortpranger{% endblock %}

{% block content %}
    <div class="container submission">
        <h1>{% trans 'Submit Website' %}</h1>

        <p>{% blocktrans %}With this form you can submit websites where you suspect that
        they don't handle passwords safely. Our team will then review them and
        add them to this catalog, if appropriate.{% endblocktrans %}</p>

        <form role="form" action="" method="post" >
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
    </div>
{% endblock %}
