{% extends 'front/base.html' %}

{% block bodyclass %}website{% endblock %}

{% block title %}{{ site.name }} auf Passwortpranger{% endblock %}

{% block content %}
    <div class="container intro">
        <h1>{{ site.name }}</h1>

        <p>{{ site.url }}</p>

        {{ site.description|linebreaks|urlize }}

        <br>

        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="result">
                    <div class="total score-{{ site.ratings.total }}">
                        <h4>Gesamtwertung</h4> <em>{{ site.ratings.total }}/6</em>

                        <p>Die Gesamtbewertung von {{ site.name }}</p>
                    </div>
                    {% if site.scores.positive %}
                        <div class="subtotal positive">
                            <h4>Positive Punkte</h4> <span>17</span><em>{{ site.ratings.positive }}</em>

                            <p>Es zählen maximal 6 positive Punkte zur Gesamtwertung</p>
                        </div>
                    {% endif %}
                    <ul class="positive">
                            <li>
                                <h4>
                                    Basispunkte
                                </h4>
                                <span>+4</span>
                                <p>
                                    Diese Punkte dienen zur Berechnung der Gesamtpunktzahl.
                                </p>
                            </li>
                        {% if "TLS_FORCED" in site.scores.positive %}
                            <li>
                                <h4>
                                    Eine <a href="http://de.wikipedia.org/wiki/Transport_Layer_Security">TLS/SSL</a>
                                    Verbindung wird auf der
                                    ganzen Webseite erzwungen.
                                </h4>
                                <span>+{{ site.scores.positive.TLS_FORCED }}</span>

                                <p>Indem die Verbindung konsequent verschlüsselt wird, können auch auf unsicheren
                                    Netzwerken sensitive Daten geheim gehalten werden.</p>
                            </li>
                        {% endif %}
                        {% if "TWO_FACTOR" in site.scores.positive %}
                            <li>
                                <h4>
                                    Eine Authentisierung mit einem zweiten Sicherheitselement
                                    wird angeboten.
                                </h4>
                                <span>+{{ site.scores.positive.TWO_FACTOR }}</span>

                                <p>Der Nutzer muss etwas wissen (in der Regel ein Passwort) und etwas haben (meist ein
                                    Sicherheitstoken, bzw. ein vertrauenswürdiges Gerät). Damit wird die Sicherheit
                                    stark verbessert.</p>
                            </li>
                        {% endif %}
                        {% if "PW_STRENGTH_INDICATOR" in site.scores.positive %}
                            <li>
                                <h4>
                                    Die Passwortstärke wird mit einem grafischen Indikator visualisiert.
                                </h4>
                                <span>+{{ site.scores.positive.PW_STRENGTH_INDICATOR }}</span>

                                <p>Der Nutzer sieht die Stärke seines Passwortes direkt und wird dazu motiviert, ein
                                    starkes Passwort zu wählen.</p>
                            </li>
                        {% endif %}
                        {% if "MAX_LEN_UNLIMITED" in site.scores.positive %}
                            <li>
                                <h4>
                                    Die maxmiale Länge des Passworts ist nicht beschränkt.
                                </h4>
                                <span>+{{ site.scores.positive.MAX_LEN_UNLIMITED }}</span>

                                <p>Dies deutet auf eine Speicherung des Passwortes mittels einer dafür geeigneten
                                    Hashfunktion hin.</p>
                            </li>
                        {% endif %}
                    </ul>
                    {% if site.scores.negative %}
                        <div class="subtotal negative">
                            <h4>Negative Punkte</h4> <span>17</span><em>{{ site.ratings.negative }}</em>

                            <p>Es zählen maximal 6 negative Punkte zur Gesamtwertung und die Wertung kann auch keinen
                                negativen Wert annehmen.</p>
                        </div>
                    {% endif %}
                    <ul class="negative">
                        {% if "MAX_LEN_16" in site.scores.negative %}
                            <li>
                                <h4>Die Länge des Passworts ist auf 16 Zeichen beschränkt.</h4>
                                <span>{{ site.scores.negative.MAX_LEN_16 }}</span>

                                <p>Eine Beschränkung der Länge des Passworts reduziert die Anzahl möglichen Passwörter und vereinfacht es somit, das Passwort zu knacken. Bei einer sauberen Speicherung des Passworts, muss die Länge überhaupt nicht beschränkt werden.</p>
                            </li>
                        {% endif %}
                        {% if "MAX_LEN_10" in site.scores.negative %}
                            <li>
                                <h4>Die Länge des Passworts ist auf 10 Zeichen beschränkt</h4>
                                <span>{{ site.scores.negative.MAX_LEN_10 }}</span>

                                <p>Eine Beschränkung der Länge des Passworts reduziert die Anzahl möglichen Passwörter und vereinfacht es somit, das Passwort zu knacken. Bei einer sauberen Speicherung des Passworts, muss die Länge überhaupt nicht beschränkt werden.</p>
                            </li>
                        {% endif %}
                        {% if "ALPHABET_LIMITED" in site.scores.negative %}
                            <li>
                                <h4>
                                    Das Passwort kann nur aus einer limitierten Anzahl verschiedener Zeichen bestehen.
                                </h4>
                                <span>{{ site.scores.negative.ALPHABET_LIMITED }}</span>

                                <p>Wird die Verwendung spezieller Zeichen, wie zum Beispiel exotischer Sonderzeichen, unterbunden, gibt es bei gleicher Passwortlänge eine deutlich kleinere Anzahl möglicher Passwörter. Dies vereinfacht es, das Passwort zu knacken.</p>
                            </li>
                        {% endif %}
                        {% if "EML_REGISTRATION_PLAINTEXT" in site.scores.negative %}
                            <li>
                                <h4>Das Passwort wird im Registrierungsmail verschickt.</h4>
                                <span>{{ site.scores.negative.EML_REGISTRATION_PLAINTEXT }}</span>

                                <p>Emails werden im Normalfall im Klartext verschickt und können in falsche Hände
                                    gelangen. Sie gelten
                                    deshalb als unsicher.</p>
                            </li>
                        {% endif %}
                        {% if "EML_RECOVERY_PLAINTEXT" in site.scores.negative %}
                            <li>
                                <h4>Ein neues Passwort wird direkt per Email verschickt.</h4>
                                <span>{{ site.scores.negative.EML_RECOVERY_PLAINTEXT }}</span>

                                <p>Emails werden im Normalfall im Klartext verschickt und können in falsche Hände
                                    gelangen. Sie gelten
                                    deshalb als unsicher.</p>
                            </li>
                        {% endif %}
                        {% if "EML_REMINDER_PLAINTEXT" in site.scores.negative %}
                            <li>
                                <h4>
                                    Man kann sich sein eigenes Passwort im Klartext per Email zuschicken lassen.
                                </h4>
                                <span>{{ site.scores.negative.EML_REMINDER_PLAINTEXT }}</span>

                                <p>
                                    Damit man sich das Passwort im Klartext zusenden lassen kann, muss die Webseite das
                                    Passwort ungesichtert abspeichern.
                                    Das könnte nicht nur in falsche Hände gelanden, sondern auch von Adminstratoren
                                    missbraucht werden.
                                </p>
                            </li>
                        {% endif %}
                        {% if "TLS_NO" in site.scores.negative %}
                            <li>
                                <h4>Die Seite unterstützt gar kein <a
                                        href="http://de.wikipedia.org/wiki/Transport_Layer_Security">TLS/SSL</a>.</h4>
                                <span>{{ site.scores.negative.TLS_NO }}</span>

                                <p>
                                    Das Passwort wird beim Login im Klartext übertragen und
                                    kann abgefangen werden.
                                </p>
                            </li>
                        {% endif %}
                        {% if "TLS_SOME" in site.scores.negative %}
                            <li>
                                <h4>Einige Seiten werden unverschlüsselt übertragen.</h4>
                                <span>{{ site.scores.negative.TLS_SOME }}</span>

                                <p>Ein Angreifer kann so zwar das Passwort nicht abhören, aber potentiell ein
                                    Benutzerkonto übernehmen.</p>
                            </li>
                        {% endif %}
                    </ul>

                    <ul class="neutral">
                        {% if "TLS_ALL" in site.scores.negative %}
                            <li>
                                <h4>
                                    Es werden alle Seiten über TLS/SSL angeboten, der Besucher wird
                                    aber nicht automatisch auf diese Seiten weitergeleitet.
                                </h4>
                                <span>+{{ site.scores.positive.TLS_ALL }}</span>

                                <p>Keine Negativpunkte, aber auch keine Pluspunkte.</p>
                            </li>
                        {% endif %}
                    </ul>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
