/* line 1, ../sass/style.sass */
body {
  background-color: #f0f0f0;
  padding: 20px 0;
}

/* line 5, ../sass/style.sass */
.container {
  margin: 0 auto;
  width: 960px;
}

/* line 10, ../sass/style.sass */
nav {
  display: block;
  @clearfix();
  float: right;
}
/* line 15, ../sass/style.sass */
nav a {
  float: left;
  display: block;
  padding: 0.5em 1em;
  list-style-type: none;
  margin-right: 1em;
  background-color: white;
}
/* line 24, ../sass/style.sass */
nav a:last-child {
  margin: 0;
}

/* line 29, ../sass/style.sass */
footer p {
  font-size: 0.8em;
  padding: 1em 0;
  float: right;
  color: #aaaaaa;
}
/* line 35, ../sass/style.sass */
footer p a {
  color: #aaaaaa;
  text-decoration: underline;
}

/* line 40, ../sass/style.sass */
.intro {
  padding: 50px;
  background-color: white;
}

/* line 44, ../sass/style.sass */
.data {
  padding: 20px 50px;
  background-color: white;
}
